@page "/hello"

<h3>Witaj w szkoleniu Szkoła AI w C# / .NET</h3>

<p>To pierwszy komponent w aplikacji. W kolejnych będą rozwijane nowe funkcje AI.</p>

<p>Imię Autora: @_name</p>

<p>Wywołanie funkcji: @GetGreeting()</p>