@page "/image-analysis"

@using IntelligentApp.Models
@using IntelligentApp.Services.Interfaces

<h3>Analiza Obrazu z Azure AI Vision</h3>

<p>Testowa analiza obrazu znajdującego się na dysku</p>
<button class="btn btn-primary mt-1" @onclick="AnalyzeImageFromServer">Analizuj</button>

<p class="mt-3">Wybierz obraz, a następnie kliknij "Analizuj", aby otrzymać opis (caption) i tagi.</p>

<div class="mb-3">
    <InputFile OnChange="OnFileSelectedAsync" accept="image/*" />
</div>

@if (_imageDataUrl != null)
{
    <h4>Wgrany obraz:</h4>
    <img src="@_imageDataUrl" alt="wgrany obraz" style="display: block; max-width: 300px; max-height: 300px;" />
    <button class="btn btn-primary mt-3" @onclick="AnalyzeUserImageAsync">Analizuj</button>
}

@if (_isLoading)
{
    <p class="mt-3">Analizowanie obrazu, proszę czekać...</p>
}
else if (_showResults)
{
    <div class="mt-3">
        <h4>Wyniki Analizy:</h4>
        <p class="mt-3"><strong>Opis (Caption):</strong> @_description</p>
        <p class="mt-3"><strong>Text (Read):</strong></p>
        <p>@_textFromImage</p>
        <p class="mt-3"><strong>Etykiety (Tagi):</strong></p>
        <ul>
            @foreach (var tag in _tags)
            {
                <li>@tag</li>
            }
        </ul>
    </div>
}